##This notebook provides a list of functions that were used to create cloud database or some other useful functions used during the development.

In [ ]:
import psycopg2

conn = psycopg2.connect("host=109.120.191.148 dbname=PostgreSQL-4323 user=user password=0HD9E7L5A0410WYD")

# Create table

In [ ]:
def create_table():
    # Connect to your postgres DB
    conn = psycopg2.connect("host=109.120.191.148 dbname=PostgreSQL-4323 user=user password=0HD9E7L5A0410WYD")


    # Open a cursor to perform database operations
    cursor = conn.cursor()

    # Execute a query
    cursor.execute("""
        CREATE TABLE users (
            user_id SERIAL PRIMARY KEY,
            tg_id text,
            user_name TEXT,
            user_surname TEXT,
            car_plate TEXT,
            user_age INTEGER
        )
    """)

    # Commit changes
    conn.commit()

    # Close cursor and the connection
    cursor.close()
    conn.close()

create_table()

In [ ]:
import psycopg2
import numpy as np

# Open a connection
conn = psycopg2.connect("host=109.120.191.148 dbname=PostgreSQL-4323 user=user password=0HD9E7L5A0410WYD")

# Open a cursor to perform database operations
cursor = conn.cursor()

# Create a table
cursor.execute("""
    CREATE TABLE arrays (
        id INTEGER PRIMARY KEY,
        image BYTEA,
        result INT
    )
""")

conn.commit()
cursor.close()
conn.close()

In [ ]:
import psycopg2

# Open a connection
conn = psycopg2.connect("host=109.120.191.148 dbname=PostgreSQL-4323 user=user password=0HD9E7L5A0410WYD")
cursor = conn.cursor()

# Create a table
cursor.execute("""
    CREATE TABLE user_results (
        id INTEGER PRIMARY KEY,
        result INTEGER
    )
""")

conn.commit()
cursor.close()
conn.close()

# Delete observation from array table using id

In [ ]:
import psycopg2

def delete_array(id):
    # Open a connection
    conn = psycopg2.connect("host=109.120.191.148 dbname=PostgreSQL-4323 user=user password=0HD9E7L5A0410WYD")
    cursor = conn.cursor()

    # Delete the row with the specified id from the arrays table
    cursor.execute("""
        DELETE FROM arrays WHERE id = %s
    """, (id,))

    conn.commit()
    cursor.close()
    conn.close()

# Delete the array with id 1
delete_array(666)

# Insert data

In [ ]:
import psycopg2

def insert_user(user_name, user_surname, car_plate, user_age):
    # Connect to your postgres DB
    conn = psycopg2.connect("host=109.120.191.148 dbname=PostgreSQL-4323 user=user password=0HD9E7L5A0410WYD")

    # Open a cursor to perform database operations
    cursor = conn.cursor()

    # Prepare the INSERT INTO SQL query.
    query = """
        INSERT INTO users (user_name, user_surname, car_plate, user_age)
        VALUES (%s, %s, %s, %s)
    """

    # Execute the query with the given inputs.
    cursor.execute(query, (user_name, user_surname, car_plate, user_age))

    # Commit the transaction.
    conn.commit()

    # Close the cursor and connection.
    cursor.close()
    conn.close()

insert_user('John', 'Doe', 'н700уу37', 30)

In [ ]:
import numpy as np
import pickle

def insert_array(array):
    # Open a connection
    conn = psycopg2.connect("host=109.120.191.148 dbname=PostgreSQL-4323 user=user password=0HD9E7L5A0410WYD")
    cursor = conn.cursor()

    # Serialize the Numpy array to a binary format
    pickled_array = pickle.dumps(array)

    # Insert the pickled array into the table
    cursor.execute("""
        INSERT INTO arrays (data)
        VALUES (%s)
    """, (psycopg2.Binary(pickled_array),))

    conn.commit()
    cursor.close()
    conn.close()

insert_array(array)

# Print out the table

In [ ]:
import psycopg2

def print_table():
    # Connect to your postgres DB
    conn = psycopg2.connect("host=109.120.191.148 dbname=PostgreSQL-4323 user=user password=0HD9E7L5A0410WYD")

    # Open a cursor to perform database operations
    cursor = conn.cursor()

    # Execute a query
    cursor.execute("SELECT * FROM users")

    # Fetch all rows from the result of the query
    rows = cursor.fetchall()

    # Print out the rows
    for row in rows:
        print(row)

    # Close cursor and the connection
    cursor.close()
    conn.close()

print_table()

(1, None, 'John', 'Doe', 'ABC-123', 30)
(2, '642389543', 'Stepan', 'Svirin', 'AC233GC', 20)
(3, None, 'John', 'Doe', 'н700уу37', 30)

#Checking if the user with a certain car plate number is registered

In [ ]:
def search_user_by_plate(car_plate):
    conn = psycopg2.connect("host=109.120.191.148 dbname=PostgreSQL-4323 user=user password=0HD9E7L5A0410WYD")

    # Open a cursor to perform database operations
    cursor = conn.cursor()

    # Prepare the SELECT SQL query.
    query = """
        SELECT * FROM users WHERE car_plate = %s
    """

    # Execute the query with the given car plate.
    cursor.execute(query, (car_plate,))

    # Fetch the row from the result of the query
    row = cursor.fetchone()

    # If a row was found, print it out.
    if row is not None:
        result = False
    else:
        result = True

    # Close cursor and the connection
    cursor.close()
    conn.close()

    return result

search_user_by_plate('ABC-123')

The user exists

# Delete table

In [ ]:
import psycopg2

def delete_table():
    # Connect to your postgres DB
    conn = psycopg2.connect("host=109.120.191.148 dbname=PostgreSQL-4323 user=user password=0HD9E7L5A0410WYD")
    # Open a cursor to perform database operations
    cursor = conn.cursor()

    # Execute a query
    cursor.execute("DROP TABLE user_results")

    # Commit changes
    conn.commit()

    # Close cursor and the connection
    cursor.close()
    conn.close()

delete_table()